:root {
  --color-background: #06061c;
}

@font-face {
  font-family: 'monoFont';
  src: url('./assets/monoFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mediumFont';
  src: url('./assets/mediumFont.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

#content {
  display: flex;
  background-color: var(--color-background);
  flex-direction: column;
  height: 100vh;
}

#RLS {
  padding-top: 110px;
  padding-bottom: 110px;
}

#buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#buttons button {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 150%;
  transform: translateX(-16.67%);
  font-size: 1.67rem;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #ff8236;
  color: white;
  border: 2px solid orange;
  padding: 4px 25px 4px 25px;
  font-family: 'mediumFont', sans-serif;
}

#buttons button:hover {
  background: linear-gradient(to right, #ff882d, #ffa309);
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

#bottombar {
  display: flex;
  flex: 1;
  justify-content: center;
}

#githubIcon {
  align-self: flex-end;
  padding-bottom: 10px;
}

#downloadExample {
  height: 40px;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'monoFont', sans-serif;
  color: #06061c;
}