:root {
  --color-background: #ffffff;
}

body {
  background-color: var(--color-background);
}

#content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 16px);
}

#buttons {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#buttons button {
  text-align: left;
  display: flex;
  justify-content: space-between;
  width: 150%;
  transform: translateX(-16.67%);
  font-size: 1.67rem;
  margin-bottom: 10px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#topbar {
  display: flex;
  justify-content: space-between;
}

#bottombar {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#downloadExample {
  height: 40px;
  align-self: flex-end;
}