@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";

html, body, #canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 8px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 25px;
  background: #06061c;
  cursor: pointer;
  border-radius: 30%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 25px;
  background: #06061c;
  cursor: pointer;
  border-radius: 30%;
}

#buttonsUi {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
    translate: 50vw;
    max-width: fit-content;
    max-height: 5vh;
    bottom: 10px;
}

#nextCamera{
    padding: 20%;
}

#animationUi {
    position: absolute;
    bottom: 10px;
    margin-left: 5px;


    display: grid;
    grid-template-columns: 2vw 2vw 2vw 2vw 2vw;
    grid-template-rows: 3vh 3vh 3vh;
    justify-content: space-between;
    align-content: space-between;
    row-gap:10%;
    min-height: 15vh;
}


#playPause{
    padding: 30%;
    grid-column: 3;
}


.slidecontainer{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 6;


    min-width: fit-content;
    max-height: fit-content;
}


#prevCar{
    padding: 30%;
    grid-row: 3;
    grid-column: 1;
}


#nextCar{
    padding: 30%;
    grid-row: 3;
    grid-column: 3;
}


#nextCamera{
    grid-row: 3;
    grid-column: 5;
}


.buttonMargin{
    margin-left: 2%;
}


#telemetryBox{
    padding: 1%;
    position: absolute;
    translate: 100vw;
    transform: translate(-105%);
    bottom: 10px;

    display: grid;
    grid-template-columns: 2vw 2vw 2vw 2vw;
    grid-template-rows: 2vh 2vh 3vh 5vh 2vh 3vh 2vh;
    justify-content: space-between;
    align-content: space-between;
}

#carName{
    margin-top: 5%;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
}


#brakeBar{
    transform: rotate(-90deg);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
    min-width: 240%;
    justify-self: center;
    align-self: center;
    margin: 0;
    margin-top: 70%;
    align-self: center;
}

#RPMbar{
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 0;
}

#RPM{
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
    margin: 0;
}

#throttleBar{
    transform: rotate(-90deg);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    min-width: 240%;
    justify-self: center;
    align-self: center;
    margin: 0;
    margin-top: 70%;
    align-self: center;
}

#gear{
    grid-column-start: 2;
    grid-column-end: 4;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    margin: 0;
    margin-bottom: 3%;
}

#speed{
    grid-column-start: 2;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
    margin: 0;
}

#division{
    grid-column-start: 1;
    grid-column-end: 5;
}

#deltaLabel{
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
}

#delta{
    grid-column-start: 3;
    grid-column-end: 5;
    justify-self: end;
    color: white;
}

#simulationInfoBox{
    position: absolute;
    transform: translateY(-100.5vh) translateX(-0.5vw);
    max-height: fit-content;
    max-width: fit-content;
    padding: 0;
    padding-left: 1vw;
    padding-right: 1vw;
}

#simulationInfo{
    justify-self: center;
}


#Gmeter{
    padding: 1%;
    position: absolute;
    translate: 100vw;
    transform: translate(-105%);
    bottom: 27svh;
    justify-items: center;
}

#Gmeter div{
    margin: 0;
}

#GmeterCanvas{
    width: 8vw;
}